@charset "utf-8";
@import url(reset.css);
#container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

/* top_nav */
header{
    width: 100%;
}
#top_nav{
    height: 50px;
    background-color: #323232;
    line-height: 50px;
}
#top_nav a{
    color: #fff;
    transition: all 0.4s;
}
#top_nav a:hover{
    font-weight: bolder;
}
#top_nav_contents{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #fff;
}
.news_wrap{
    flex: 3;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    font-weight: 600;
}
.news_wrap ul{
    width: 400px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
.news_wrap ul li:nth-child(1){
    top: 0;
}
.news_wrap ul li{
    width: 400px;
    height: 50px;
    position: absolute;
    top: 100%;
    font-weight: 400;
}

.link{
    flex: 2;
    display: flex;
    flex-flow: row nowrap;
}
.link li{
    display: inline-block;
    padding: 0 10px;
}
.link li a{
    color: #fff;
}

.login{
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}
.login li{
    display: inline-block;
}

/* logo */
#logo{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
#logo .logo_contents{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#logo .logo_contents .logo h1 span{
    display: none;
}
#logo .logo_contents .search form input{
    width: 400px;
    height: 50px;
    background: -webkit-linear-gradient(to left, #3a609d 0%, #253b4d 100%);
    background: -moz-linear-gradient(to left, #3a609d 0%, #253b4d 100%);
    background: -ms-linear-gradient(to left, #3a609d 0%, #253b4d 100%);
    background: linear-gradient(to left, #3a609d 0%, #253b4d 100%);
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
}

#logo .logo_contents .search form input::-webkit-input-placeholder{
    color: #dddddd;
    padding: 10px;
}
#logo .logo_contents .search form input::-moz-input-placeholder{
    color: #dddddd;
    padding: 10px;
}
#logo .logo_contents .search form input::-ms-input-placeholder{
    color: #dddddd;
    padding: 10px;
}
#logo .logo_contents .search form input::placeholder{
    color: #dddddd;
    padding: 10px;
}
#logo .logo_contents .search form a{
    margin-left: -30px;
    color: #fff;
    font-size: 1.3em;
}

.hamburger{
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
}
.hamburger .line{
    width: 50px;
    height: 3px;
    background-color: #000; 
    position: absolute;
    top: 20px;
    left: 5px;
    transition : all .4s;
}
.hamburger .line.n2{
    top: 30px;
}
.hamburger .line.n3{
    top: 40px;
}
.hamburger.active .line.n1{
    transform: translateY(20px) rotate(-45deg);
    top: 8px;
}
.hamburger.active .line.n2{
    opacity: 0;
}
.hamburger.active .line.n3{
    transform: translateY(20px) rotate(45deg);
    top: 8px;
}
/* nav */
nav{
    width: 100%;
    position: relative;
}
nav a{
    display: block;
    color: black;
}
.depth1{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.depth1 > li > a{
    padding: 10px 0;
    font-size: 1.2em;
}
.sub_bg{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 28, 70, 0.7);
    left: 0;
    z-index: 8;
    border-bottom: 2px solid #08141f;
    display: none;
}
.depth2Wrap{
    width: 80%;
    height: auto;
    background-color: rgb(23, 53, 99);
    margin: 0 auto;
}
.img0{
    background-image: url(../img/menu6.png);
    background-repeat: no-repeat;
    background-position: 98% 90%;
}
.img1{
    background-image: url(../img/menu1.png);
    background-repeat: no-repeat;
    background-position: 98% 90%;
}
.img2{
    background-image: url(../img/menu2.png);
    background-repeat: no-repeat;
    background-position: 98% 90%;
}
.img3{
    background-image: url(../img/menu3.png);
    background-repeat: no-repeat;
    background-position: 98% 90%;
}
.img4{
    background-image: url(../img/menu5.png);
    background-repeat: no-repeat;
    background-position: 98% 90%;
}
.img5{
    background-image: url(../img/menu4.png);
    background-repeat: no-repeat;
    background-position: 98% 90%;
}
.depth2{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 100%;
    min-height: 100px;
    padding: 30px 0 30px 80px;
}
.depth2 li{
    width: auto;
}
.depth2 li a{
    width: 180px;
    padding: 10px;
    font-size: 1em;
    margin-left: 70px;
    color: #fff;
}
.depth2 li a:hover{
    text-decoration: underline;
}

/* m_nav */
.m_nav{
    width: 100%;
    position: absolute;
    z-index: 8;
    background-color: #3a609d;
}
.m_nav a{
    color: #fff;
}
.m_nav form{
    display: flex;
    padding: 40px 0;
}
.m_nav form input{
    width: 95%;
    height: 50px;
    font-size: 1.1em;
    border-radius: 10px;
    text-indent: 10px;
    margin: 0 auto;
}
.m_nav form i {
    font-size: 2.5em;
    color: #253b4d;
    margin-left: -90px;
    margin-top: -5px;
    padding: 10px;
}

.m_nav_depth1>li{
    font-size: 1.1em;
    border-bottom: 1px solid #9da4b1;
    position: relative;
}
.m_nav_depth1>li:hover{
    background-color: #9da4b1;
}
.m_nav_depth1>li>a{
    padding: 20px;
}
.m_nav_depth1>li>i{
    width: 100%;
    text-align: right;
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 2em;
}
.show{
    transform: rotate(180deg);
    position: absolute;
    top: 13px;
    left: 95.5%;
}
.m_nav_depth2{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    background-color: #404040;
    display: none;
}
.m_nav_depth2.show{
    display: block;
}
.m_nav_depth2>li{
    font-size: 0.9em;
    padding-left: 30px;
    border-bottom: 1px solid #9da4b1;
}
.m_nav_depth2>li:hover a{
    text-decoration: underline;
}
.m_nav_depth2>li>a{
    padding: 20px;
    
}

/* section */
section{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    position: relative;   
}
section .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/container_bg.gif) no-repeat bottom;
    opacity: .5;
    z-index: -1;
}
.page_info{
    width: 100%;
    height: 400px;
    background: url(../img/info_bg1.jpg) no-repeat center 60%;
    background-size: cover;
}
.title_bg{
    width: 500px;
    height: 180px;
    background: rgba(0, 0, 0, .3);
    margin: 50px auto;
}
.page_info > div{
    text-align: center;
    color: #fff;
}
.page_info .page_title{
    font-size: 1.8em;
    padding-top: 20px;
}
.page_info .page{
    font-size: 1.5em;
    margin: 50px 0;
}
.page_info .page_link_info{
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 110px;
}
.page_link_info_width{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.page_link_info_width .home{
    font-size: 2em;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 10px 20px;
    color: #fff;
}
.page_link_info_width ul{
    width: 250px;
    height: 60px;
}
.page_link_info_width > ul:last-child{
    border-right: 1px solid #999;
    padding-right: 20px;
}

.page_link_info_width ul li a{
    display: block;
    color: #fff;
    font-size: 1em;
    padding: 20px;
    line-height: 1;
    text-align: left;
}
.page_link_info_width ul li a i{
    float: right;
    padding-top: 0;
}

.page_info_depth ul{
    position: relative;
    z-index: 555;
    top: 4px;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: auto;
    overflow: hidden;
}
.page_info_depth ul a:hover{
    text-decoration: underline;
}

.contents_wrap{
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
.contents article{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    gap: 10px;
}

.contents article .title_wrap{
    flex: 0 0 200px;
    padding: 30px;
}
.contents article .title_wrap .line{
    width: 80px;
    height: 3px;
    background-color: #3a609d;
}
.contents article .title_wrap h2{
    color: #3a609d;
    font-size: 1.8em;
    font-weight: 600;
    padding: 10px 0;
}

.contents .item_contents{
    flex: 3;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}
.contents .item_contents ul li{
    background: url("../img/list.gif") no-repeat left center;
    padding-left: 10px;
}
.contents .item_contents ul li.top{
    background-position: left 25%;
}
.contents h3{
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px 0;
}
.contents .sm{
    font-size: 0.8em;
}
.contents .title_table{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
.contents .table_wrap{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
.contents table{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.contents table,
.contents table th,
.contents table td{
    border: 1px solid #333;
    border-collapse: collapse;
    text-align: center;
}
.contents table th,
.contents table td{
    padding: 10px;
}
.contents table th{
    font-size: 1em;
    background-color: #5773a1;
    color: #fff;
    height: 10px;
    width: 30px;
}
.contents table td{
    background-color: #fff;
    font-size: 0.9em;
    height: 40px;
}
.contents table .left{
    text-align: left;
}
.contents table .width30{
    width: 30%;
}
.contents table .width25{
    width: 25%;
}
.contents table .width25{
    width: 25%;
}
.contents table .width50{
    width: 50%;
}
.contents table .width40{
    width: 40%;
}
.contents table .width20{
    width: 20%;
}
.contents table .td_btn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contents .warning,
.contents.item11 .item_contents div,
.contents .contact{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    background-color: #ddd;
    padding: 10px;
    border: #bbb 1px solid;
}
.contents.warning i{
    font-size: 2.8em;
    color: #fff;
}
.contents .warning .blue{
    color: #3a609d;
}
.contents .item2 .warning p a{
    color: #000;
    text-decoration: underline;
}
.contents .item4 .warning p{
    line-height: 2.5;
}
.contents .btn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

.contents button{
    background: #444;
    color: #fff;
    width: 300px;
    padding: 10px;
    font-size: 1em;
    letter-spacing: -1px;
    cursor: pointer;
    transition: all 0.4s;
}
.contents button:hover{
    background-color: #3a609d;
    color: #fff;
}

.contents .item3 button,
.contents .item5 button{
    width: 250px;
}
.contents .item11 button{
    width: 130px;
    height: 40px;
}

/* footer */
footer{
    width: 100%;
    height: 800px;
    background: url(../img/footerbg.jpg) no-repeat 50% 90%;
    background-size: cover;
}
footer div{
    color: #fff;
}
.today_total{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    color: #fff;
    font-size: 1.2em;
    background: -webkit-linear-gradient(to left, #3a609d 0%, #253b4d 100%);
    background: -moz-linear-gradient(to left, #3a609d 0%, #253b4d 100%);
    background: -ms-linear-gradient(to left, #3a609d 0%, #253b4d 100%);
    background: linear-gradient(to left, #3a609d 0%, #253b4d 100%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 100px;
    border-radius: 10px;
}
.today_total .title{
    flex: 3;
    padding-left: 30px;
}
.today_total .today{
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
.today_total .total{
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

footer .info{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    margin-top: 100px;
}
footer .info .information{
    flex: 3;
    padding: 20px;
    color: #333;
}
footer .info .information h2{
    font-size: 2em;
    padding-bottom: 10px;
}
footer .info .information p{
    font-size: 1.2em;
    font-weight: bold;
    color: #060c14;
}
footer .info .call{
    flex: 0 0 280px;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}
footer .info .call h2{
    padding: 10px;
    color: goldenrod;
}
footer .info .call p{
    font-size: 0.9em;
    padding: 10px;
}
footer .info .QA{
    flex: 0 0 280px;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}
footer .info .QA h2{
    padding: 10px;
    color: goldenrod;
}
footer .info .QA i{
    float: right;
    color: #fff;
}
footer .info .QA p{
    font-size: 0.9em;
    padding: 10px;
}

.footernav{
    width: 100%;
    height: 80px;
    background-color: #2a2a2a;
    margin-top: 100px;  
}
.footernav .footernavWidth{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}
.footernavWidth ul{
    flex: 4 0 400px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}
.footernavWidth ul li a{
    display: block;
    color: #fff;
    border-right: 1px solid #bbb;
    padding-right: 10px;
}
.footernavWidth ul li:last-child a{
    border-right: 0;
}

.footernavWidth .site{
    flex: 0 0 250px;
    position: relative;
    z-index: 5;
}
.footernavWidth .site ul{
    width: 100%;
    height: 50px;
}
.footernavWidth .site ul li{
    width: 100%;
}
.footernavWidth .site ul a{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.footernavWidth .site ul i{
    border: 1px solid #404040;
    background-color: #404040;
    padding: 20px;
    border-radius: 5px;
}

.footernavWidth .site .sitelink{
    display: flex;
    flex-flow: column nowrap;
    width: 260px;
    height: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #2a2a2a;
    font-size: 0.9em;
    transition: all 0.4s;
}
.footernavWidth .site1 .sitelink{
    position: absolute;
    bottom: 65px;
    right: 0;
    z-index: 1;
}
.footernavWidth .site2 .sitelink{
    position: absolute;
    bottom: 65px;
    right: 0;
    z-index: 1;
}
.footernavWidth .site .sitelink li{
    width: 90%;
    border-bottom: 1px solid #bbb;
    margin: 0 auto;
   
}
.footernavWidth .site .sitelink a{
    padding: 10px;
} 

.footerinfo{
    width: 100%;
    height: auto;
    background: #121212;
    position: relative;
    z-index: 5;
    padding-top: 10px;
    box-sizing: border-box;
}
.footerinfoWidth{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.footerinfoWidth .f_logo img{
    filter: grayscale(100%); 
}
.footerinfoWidth .info_contents{
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    width: 1000px;
    color: #7b7b7b;
}
.footerinfoWidth .info_contents>div{
    color: #7b7b7b;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}